<% content_for :css do %>
  <%= stylesheet_link_tag 'recipes/new' %>
<% end %>

<%= render "shared/header"%>

<%= form_with model: @recipe, url: recipes_path, class: 'recipe-main', local: true do |f| %>
  <div class="main">
    <main class="form-content">
      <h2 class="heading-name">
        新規レシピ作成
      </h2>
        <%= render 'shared/error_messages', model: f.object %>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">料理写真(1枚)</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="click-upload">
          <p>
            クリックしてファイルをアップロード
          </p>
          <%= f.file_field :image, id:"item-image" %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">レシピ名</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :dish_name, class:"input-default", id:"dish_name", placeholder:"例)にんじんとだいこんのうま煮", maxlength:"40", autofocus: true %>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">キャッチコピー</label>
        </div>
        <%= f.text_field :catch_copy, class:"input-text", id:"catch_copy", placeholder:"このレシピの説明やメッセージを入力" %>
        <p class="info-text">100文字まで</p>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">分量(人分)</label>
          <span class="indispensable">必須</span>
        </div>
        <div class="portion_form">
          <%= f.collection_select(:dish_portion_id, DishPortion.all, :id, :name, {}, {class:"portion"}) %>
        </div>
        <p class="info-text">1人分 or 2人分</p>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">材料</label>
          <span class="indispensable">必須</span>
          <p class="info-text">複数選択可能</p>          
        </div>
        <div class="check-box">
          <%= f.collection_check_boxes(:dish_ingredient_ids, DishIngredient.all, :id, :name, {include_hidden: false}) do |d| %>
            <fieldset><%= d.label { d.check_box + d.text } %></fieldset>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">調味料</label>
        <p class="info-text">複数選択可能</p>          
        </div>
        <div class="check-box">
          <%= f.collection_check_boxes(:seasoning_ids, Seasoning.all, :id, :name, {include_hidden: false}) do |s| %>
            <fieldset><%= s.label { s.check_box + s.label } %></fieldset>
          <% end %>
        </div>
      </div>

      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">手順１</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :step_1, class:"input-text", placeholder:"例)材料を水で洗ったら、〇〇を一口大に切り耐熱皿に入れてレンジで3分加熱する", id:"step_1",  maxlength:"100" %>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">手順２</label>
        </div>
        <%= f.text_field :step_2, class:"input-text", id:"step_2",  maxlength:"100" %>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">手順３</label>
        </div>
        <%= f.text_field :step_3, class:"input-text", id:"step_3",  maxlength:"100" %>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">手順４</label>
        </div>
        <%= f.text_field :step_4, class:"input-text", id:"step_4",  maxlength:"100" %>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">手順５</label>
        </div>
        <%= f.text_field :step_5, class:"input-text", id:"step_5",  maxlength:"100" %>
      </div>
      <div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">コツ、ワンポイントアドバイス</label>
        </div>
        <%= f.text_field :dish_point, class:"input-default", id:"dish_point" %>
        <p class="info-text">100文字まで</p>
      </div>
      <div class="tag-select">
        <div class="select-group">
          <div class="form-text-wrap">
            <label class="form-text">こんな季節に食べたい！</label>
          </div>
          <div class="check-box season">
            <%= f.collection_radio_buttons(:season_id, Season.all, :id, :name, {}) do |s| %>
              <div class="short"><%= s.radio_button + s.label %></div>
            <% end %>
          </div>
        </div>
        <div class="select-group">
          <div class="form-text-wrap">
            <label class="form-text">食卓ポジション</label>
          </div>
          <div class="check-box season">
            <%= f.collection_radio_buttons(:genre_id, Genre.all, :id, :name, {}) do |s| %>
              <div class="short"><%= s.radio_button + s.label %></div>
            <% end %>
          </div>
        </div>
      </div>
      <%= f.submit "レシピ完成！", class:"send"%>
    </main>
  </div>
<% end %>

<%= render "shared/footer" %>