<% content_for :css do %>
  <%= stylesheet_link_tag 'recipes/show' %>
<% end %>

<%= render "shared/header"%>

<div class="main">
  <div class="center">
    <div class="title-section">
      <h1 class="dish-title">
        <%= @recipe.dish_name %>
      </h1>
      <div class="like-contents", id="recipe_<%= @recipe.id %>">
        <%= render 'likepost', recipe: @recipe %>
      </div>
    </div>
    <div class="image-section">
      <%= image_tag @recipe.image ,class:"dish-img" %>
      <div class="dish-catchcopy">
        <div class="catchcopy-title">
          <h2 class="catchcopy">
            キャッチコピー
          </h2>
          <div class="cook-name">
            <span class="user-name"><%= "作:" + @recipe.user.user_name %></span>
          </div>
        </div>
        <div class="catchcopy-text">
          <%= @recipe.catch_copy %>
        </div>
      </div>
    </div>
    <div class="seasoning-ingredient-section">
      <div class="contents">
        <h2 class="title">
          調味料
        </h2>
        <div class="list-group">
          <% @recipe.recipe_seasonings.each do |recipe|%>
            <div class="lists">
              <%= recipe.seasoning.name %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="contents">
        <h2 class="title">
          材料
        </h2>
        <div class="list-group">
          <% @recipe.recipe_ingredients.each do |recipe|%>
            <div class="lists">
              <%= recipe.dish_ingredient.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="process-section">
      <h2 class="process-title">
        作り方  
      </h2>
      <ul class="process-list">
        <li>1,<%= @recipe.step_1 %></li>
        <li>2,<%= @recipe.step_2 %></li>
        <li>3,<%= @recipe.step_3 %></li>
        <li>4,<%= @recipe.step_4 %></li>
        <li>5,<%= @recipe.step_5 %></li>
      </ul>
    </div>
    <div class="point-section">
      <h2 class="point-title">
      コツ・ワンポイントアドバイス
      </h2>
      <div class="point-text">
        <%= @recipe.dish_point %>
      </div>
    </div>
    <div class="comment-section">
      <h2 class="comment-title">
        コメント
      </h2>
      <div class="comment-content">
        <% if @comments.present? %>
          <div class="comment-lists">
            <% @comments.each do |comment| %>
              <li >
                <p class="comment-user"><%= comment.user.user_name %> さん</p>
                <p class="comment-text"><%= comment.text %></p>
                <p class="comment-date"><%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></p>
              </li>
            <% end %>
          </div>
        <% end %>
        <% if user_signed_in? %>
            <%= form_with(model: [@recipe, @comment], local: true, class: "comment-form") do |f| %>
                <%= f.text_area :text, placeholder: "コメントする", class: "form" %>
                <%= f.submit "コメント投稿", class: "btn" %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>