<% content_for :css do %>
  <%= stylesheet_link_tag 'shared/_header' %>
<% end %>
 
<header class="site-header">
  <div class="top-header">
    <div class="top-logo">
      <%= link_to image_tag("racook-logo.PNG", class:"racook-logo"), "/" %>
    </div>
    <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |f| %>
      <%= f.text_field :keyword, placeholder: "検索…料理名or材料名", class: "input-box" %>
      <%= f.submit '検索', class: "search-button" %>
    <% end %>
    <ul class="list">
    <% if user_signed_in? %>
      <li><%= link_to current_user.user_name, "#", class: "up-button" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "down-button" %></li>
    <% else %>
      <li><%= link_to 'ログイン', new_user_session_path, class: "up-button" %></li>
      <li><%= link_to '新規登録', new_user_registration_path, class: "down-button" %></li>
    <% end %>
    </ul>
  </div>
  <div class="second-header">
    <%= javascript_pack_tag 'shared/application' %>
    <div class="category">
      <div class="dropdown-button" id="dropdown-btn-1"><a class="arrow_u" id="arrow-1">素材</a>
        <div class="dropdown-body hidden" id="drop-down-1">
          <% DishIngredient.all.each do |dish_ingredient| %>
            <%= link_to tag_search_recipe_path(dish_ingredient), method: :get do %>
              <li class="dropdown-list"><%= dish_ingredient.name %></li>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="dropdown-button-2" id="dropdown-btn-2"><a class="arrow_u" id="arrow-2">季節</a>
        <div class="dropdown-body hidden" id="drop-down-2">
          <% Season.all.each do |season| %>
            <%= link_to tag_search_recipe_path(season), method: :get do %>
              <li class="dropdown-list"><%= season.name %></li>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="dropdown-button-2" id="dropdown-btn-3"><a class="arrow_u" id="arrow-3">ジャンル</a>
        <div class="dropdown-body hidden" id="drop-down-3">
          <% Genre.all.each do |genre| %>
            <%= link_to tag_search_recipe_path(genre), method: :get do %>
              <li class="dropdown-list"><%= genre.name %></li>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="dropdown-button-2" id="dropdown-btn-4"><a class="arrow_u" id="arrow-4">ランキング</a>
        <div class="dropdown-body hidden" id="drop-down-4">
          <% @rank_recipe.each.with_index(1) do |recipe, i| %>
            <li class="rank-list">
              <%= link_to recipe_path(recipe.id) do %>
                No.<%= i %><%= recipe.dish_name %>
              <% end %>
            </li>
          <% end %>
        </div>
      </div>
    </div>
    <div class="right-content">
      <%= link_to 'レシピ投稿', new_recipe_path,  class: "post-button" %>
    </div>
  </div>
</header>