<% content_for :css do %>
  <%= stylesheet_link_tag 'shared/_header' %>
<% end %>
 
<header class="site-header">
  <div class="top-header">
    <div class="top-logo">
      <%= link_to image_tag("racook-logo.PNG", class:"racook-logo"), "/" %>
    </div>

      <%= form_with(url: search_recipes_path, local: true, method: :get, class: "search-form") do |f| %>
        <%= f.text_field :keyword, placeholder: "検索…料理名or材料名", class: "input-box" %>
        <%= f.submit '検索', class: "search-button" %>
      <% end %>


      <ul class="list">
      <% if user_signed_in? %>
        <li><%= link_to current_user.user_name, "#", class: "up-button" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "down-button" %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "up-button" %></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "down-button" %></li>
      <% end %>
      </ul>
  </div>
  <div class="second-header">
    <div class="category">
      <div class="dropdown-button" id="dropdown_btn_1"><a href="#" class="arrow_u">素材</a>
        <div class="dropdown-body">
          <% DishIngredient.all.each do |d| %>
            <ul class="dropdown-list">
              <li><%= d.name %></li>
            </ul>
          <% end %>
        </div>
      </div>
      <div class="dropdown-button" id="dropdown_btn_2"><a href="#" class="arrow_u">季節</a>
      </div>
      <div class="dropdown-button" id="dropdown_btn_3"><a href="#" class="arrow_u">主菜</a>
      </div>
      <div class="dropdown-button" id="dropdown_btn_4"><a href="#" class="arrow_u">副菜</a>
      </div>
      <div class="dropdown-button" id="dropdown_btn_5"><a href="#" class="arrow_u">汁物</a>
      </div>
    </div>
    <div class="right-content">
      <%= link_to 'レシピ投稿', new_recipe_path,  class: "post-button" %>
    </div>
  </div>
</header>